@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #aaa;
}

.pure-highling pre {
  margin-bottom: 0px !important;
}
.pure-img-wrapper img {
  margin: 0 !important;
}

:where(.dark .prose code):not(:where(.dark .prose pre code)) {
  background-color: rgb(30 41 59) !important;
}
.medium-zoom-image--opened {
  z-index: 100;
}
.highlight-wrapper code span {
  font-size: 15px !important;
}
.highlight-wrapper pre {
  border-radius: 0;
  margin-top: 0px !important;
}
.highlight-wrapper .line {
  width: 100%;
  display: inline-block;
}
.highlight-wrapper .line:hover {
  background-color: var(--ray-highlight-hover);
}
.highlight-wrapper {
  --ray-background: hsla(0, 0%, 9%, 1);
}
.dark .blog-wrapper .highlight-wrapper {
  --ray-background: #000;
}

.medium-zoom-overlay {
  z-index: 10;
}
.medium-zoom-image--opened {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.dark .medium-zoom-image--opened {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
  background-color: #000;
}

#signaturePath {
  stroke-dasharray: 2400;
  stroke-dashoffset: 2400;
  fill: transparent;
  animation: 8s linear 0s infinite normal none running drawSignature;
}

@keyframes drawSignature {
  0% {
    stroke-dashoffset: 2400;
  }

  15% {
    fill: transparent;
  }

  35%,
  75% {
    stroke-dashoffset: 0;
  }

  90%,
  100% {
    stroke-dashoffset: 2400;
    fill: transparent;
  }
}

@property --gradient-end {
  syntax: '<percentage>';
  initial-value: 10%;
  inherits: false;
}

@keyframes gradientAnimation {
  0% {
    --gradient-end: 10%;
  }
  50% {
    --gradient-end: 90%;
  }
  100% {
    --gradient-end: 10%;
  }
}

.gradient {
  background-image: linear-gradient(
    to right,
    rgba(74, 222, 128, 1) 0%,
    white var(--gradient-end),
    rgba(74, 222, 128, 1) 100%
  );
  animation: gradientAnimation 2s infinite;
}

@keyframes clickUpAndDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.click-icon {
  animation: clickUpAndDown 3s infinite linear;
}

@keyframes textShowUp {
  from {
    letter-spacing: -50px;
    filter: blur(10px);
  }
  to {
    letter-spacing: 10px;
    filter: blur(0px);
  }
}

.text-content {
  animation: textShowUp 1.5s forwards;
}

@keyframes contrastDown {
  from {
    filter: contrast(5);
  }
  to {
    filter: contrast(1);
  }
}

.contrast-content {
  animation: contrastDown 1.5s forwards;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

.dark ::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / 1);
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / 1);
  border-radius: 0.6em;
}

.dark ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / 1);
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / 1);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
